<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Walter Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">
                <% if (user) { %>
                    <%= user.name%>
                <% } else { %>Please Login<% } %>
                <% if (success) { %>
                    <%= success %>
                <% } %>
                <% if (error) { %>
                    <%= error %>
                <% } %>
            </p>
            <div class="list-group">
                <span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SARCH" class = "search" /></form></span>

                <a href="/" class="list-group-item">home</a>
                <a href="/archive" class="list-group-item">archive</a>
                <a href="/tags" class="list-group-item">tags</a>
                <a href="/links" class="list-group-item">links</a>
                <a href="/mysql_userlist" class="list-group-item">MS-UserList</a>
                <% if (user) { %>
                <a href="/upload" class="list-group-item">upload</a>
                <a href="/post" class="list-group-item">post</a>
                <a href="javascript:;" data-toggle="modal" data-target="#confirmModal" class="list-group-item">logout</a>
                <% } %>
            </div>
            <div class="list-group">
                <% if (!user) { %>
                <a href="/login" class="list-group-item">login</a>
                <a href="/reg" class="list-group-item">reg</a>
                <a href="/mysql_login" class="list-group-item">MS-login</a>
                <a href="/mysql_reg" class="list-group-item">MS-reg</a>
                <% } %>
            </div>
            <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Sign Out</a></li>
        </div>


<article>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">确定要退出吗?</h4>
                </div>
                <div class="modal-footer">
                    <a href="/logout" class="btn btn-default">Yes</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


