<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Video.js RTMP Example Embed</title>

    <link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.11/video.js"></script>

</head>
<body>
<h1>Video.js RTMP Example Embed</h1>
<p>Keep in mind that RTMP playback requires Flash, which only seems to work in the standalone player for JSBin. If you can see the HTML, JavaScript, or CSS code at the same time that you're viewing this player, you need to click the small arrow in the top right of the Output pane.</p>

<video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="268"
       data-setup='{}'>
    <source src="rtmp://rtmp-out.zhiboyun.com/live/NENNZAXZ-aws-cn_north_1-5-ee9ce9b44c976f15" type='rtmp/flv'>
</video>

<script>
</script>

</body>
</html>